@charset "utf-8";
body {font-family: 'Nanum Barun Gothic', sans-serif;}
/*익스8에서 textarea 크기 일그러지는것을 방지 */
textarea.form-control {min-height:80px;}
a:hover {color:#aaa; text-decoration: none;}

/* 모달창 헤드부분 글자수가 넘어가면 자동자르기 */
.modal-header {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* 모달창 내용부분 이미지가 있다면 반응형으로 이미지가 넘어가지 않도록 처리 */
.modal-body img{max-width:100%;}

/* 동영상 스트리밍 반응형으로 // 그림자효과 넣어주기 */
#bo_v_con iframe {
width:100%;
    -moz-box-shadow: inset 0 0 10px #666; 
    -webkit-box-shadow: 0 0 10px #666; 
    -o-box-shadow: inset 0 0 10px #666; 
    box-shadow: 0 0 10px #666;
	}

#bo_v_con iframe {
width:100%;
    -moz-box-shadow: inset 0 0 10px #666; 
    -webkit-box-shadow: 0 0 10px #666; 
    -o-box-shadow: inset 0 0 10px #666; 
    box-shadow: 0 0 10px #666;
	}

p {word-break: break-all;}

/*익스에서 모달창 가운데 정렬 */
.modal.in .modal-dialog {max-width:600px; margin:30px auto;}

/* 팝업레이어 */
#hd_pop {z-index:9999;position:relative;margin:0 auto;max-width:970px;height:0; padding:0 15px;}
#hd_pop h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}

.hd_pops {position:absolute;border:1px solid #e9e9e9;background:#fff}
.hd_pops_con {}
.hd_pops_footer {padding:10px 0;background:#000;color:#fff;text-align:right}
.hd_pops_footer button {margin-right:5px;padding:5px 10px;border:0;background:#393939;color:#fff}

/* 익스에서 모달창 크기 조정 */
.modal-dialog {max-width:600px; margin:50px auto;}

/* 게시판 영문내용이 테두리를 벗어나는것을 스크롤로 처리 */
#bo_v .panel-body {overflow: auto;}

/* 화면낭독기 사용자용 */
#hd_login_msg {position:absolute;top:0;left:0;font-size:0;line-height:0;overflow:hidden}
.msg_sound_only, .sound_only {display:inline-block !important;position:absolute;top:0;left:0;margin:0 !important;padding:0 !important;font-size:0;line-height:0;border:0 !important;overflow:hidden !important}

/* 본문 바로가기 */
#skip_to_container a {z-index:100000;position:absolute;top:0;left:0;width:1px;height:1px;font-size:0;line-height:0;overflow:hidden}
#skip_to_container a:focus, #skip_to_container a:active {width:100%;height:75px;background:#21272e;color:#fff;font-size:2em;font-weight:bold;text-align:center;text-decoration:none;line-height:3.3em}

/* ie6 이미지 너비 지정 */
.img_fix {width:100%;height:auto}

/* ckeditor 단축키 */
.cke_sc {margin:0 0 5px;text-align:right}
.btn_cke_sc{display:inline-block;padding:0 10px;height:23px;border:1px solid #ccc;background:#fafafa;color:#000;text-decoration:none;line-height:1.9em;vertical-align:middle;cursor:pointer}
.cke_sc_def {margin:0 0 5px;padding:10px;border:1px solid #ccc;background:#f7f7f7;text-align:center}
.cke_sc_def dl{margin:0 0 5px;text-align:left;zoom:1}
.cke_sc_def dl:after {display:block;visibility:hidden;clear:both;content:""}
.cke_sc_def dt, .cke_sc_def dd {float:left;margin:0;padding:5px 0;border-bottom:1px solid #e9e9e9}
.cke_sc_def dt {width:20%;font-weight:bold}
.cke_sc_def dd {width:30%}

/* 필수입력 */
.required, textarea.required {background:url('../img/wrest.gif') #fff top right no-repeat !important}

/* 자바스크립트 alert 대안 */
#validation_check {margin:100px auto;width:500px}
#validation_check h1 {margin-bottom:20px;font-size:1.3em}
#validation_check p {margin-bottom:20px;padding:30px 20px;border:1px solid #e9e9e9;background:#fff}

/* 회원사진 */
.mb_photo {border-radius: 6px;}
.mb_nophoto {padding: 15px;border-radius: 6px;width: 50px;background: #ddd;line-height: 20px;text-align: center;font-size: 16px;display: inline-block;}

/* 스크롤TOP 버튼 */
body .back-to-top {position: fixed; bottom:0em; right: 10px; padding: 1em; display: none; z-index:99;}

/* 글쓴이 사이드 */
a.sv_member:hover {text-decoration:none; color:#cc0000;}

/* 글자 자동자르기 */
.text-cut {overflow: hidden; text-overflow: ellipsis; white-space: nowrap; margin-bottom: 0;}